<html>
    <body>
        <h1>{{restaurant.name}}</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <p>
            <a href={{url_for('restaurants.newMenuItem', restaurant_id=restaurant.id)}}>Create new menu item</a><br>
            <a href={{url_for('restaurants.main')}}>All Restaurants</a><br>
        </p>
        {% for (course, dishes) in items %}
        <h2>{{course}}</h2>
            {% for dish in dishes %}
            <h3>{{dish.name}}</h3>
            <p>
                {{dish.description}}<br>
                {{dish.price}}<br>
                <a href={{url_for('restaurants.editMenuItem', menu_id=dish.id, restaurant_id=restaurant.id)}}>edit</a><br>
                <a href={{url_for('restaurants.deleteMenuItem', menu_id=dish.id, restaurant_id=restaurant.id)}}>delete</a>
            </p>
            {% endfor %}
        {% endfor %}
        {% if not items: %}
        <p>
            Restaurant does not yet have any dishes.
        </p>
        {% endif %}
    </body>
</html>