<html>
    <body>
        <h1>Restaurants:</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <p>
            <a href={{url_for('newRestaurant')}}>Create new restaurant</a>
        </p>
        {% for restaurant in restaurants %}
        <p>
            <h2><a href={{url_for('restaurantMenu', restaurant_id=restaurant.id)}}>{{restaurant.name}}</a></h2>
            <a href={{url_for('renameRestaurant', restaurant_id=restaurant.id)}}>rename</a><br>
            <a href={{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}>delete</a><br>
        </p>
        {% endfor %}
    </body>
</html>