<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>{{restaurant.name}}</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <p>
            <a href={{url_for('newMenuItem', restaurant_id=restaurant.id)}}>Create new menu item</a>
        </p>
        {% for i in items %}
        <p>
            {{i.name}}<br>
            {{i.description}}<br>
            {{i.price}}<br>
            <a href={{url_for('editMenuItem', menu_id=i.id, restaurant_id=restaurant.id)}}>edit</a><br>
            <a href={{url_for('deleteMenuItem', menu_id=i.id, restaurant_id=restaurant.id)}}>delete</a><br>
        </p>
        {% endfor %}
    </body>
</html>